matrix:
  include:
    - language: python
      python: 3.5
      before_script:
        - pip install -r requirements.txt  # In Travis, plain pip always refers to the selected Python version. Nice.
      script:
        - ./test.sh

    - language: python
      python: 3.6
      before_script:
        - pip install -r requirements.txt
      script:
        - ./test.sh

    - language: python
      python: 3.7-dev       # Replace with plain "3.7" when supported by Travis
      before_script:
        - pip install -r requirements.txt
      script:
        - ./test.sh
